* {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: bold;
}

:root {
    --black: black;
    --white: white;
    --accent: #0080ff;
}

html {
    scroll-behavior: smooth;
}

body {
    align-items: center;
    min-width: 330px;
    width: 100%;
    color: var(--black);
    background-color: var(--white);
    overflow-x: hidden;
}


.header {
    margin: 10px;
    padding: 10px;
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
}

.fadeIn {
    animation: fadeInAni;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

@keyframes fadeInAni {
    from {
        opacity: 0;
        transform: translate(0, -15px);
        transform: scale(1.05);
    }

    to {
        opacity: 1;
    }
}

.logo-container {
    display: flex;
    padding: 13px;
    margin: auto;
    border-radius: 15px;
    background-color: var(--white);
    align-items: center;
    text-align: center;
}

.logo {
    margin: 13px;
    text-align: center;
    width: 120px;
    height: 120px;

    object-fit: cover;
    object-position: center;
}

#img-float {
    transition: 0.3s;
    float: left;
}

#img-float:hover {
    transform: scale(1.05);
}

.nav-options {
    margin: auto;
    align-items: center;
    vertical-align: middle;
}

.left {
    float: left;
}

.right {
    float: right;
}

.nav-link {
    margin: auto;
    padding: 8px;
    text-decoration: none;
    text-align: center;
    color: var(--white);
    font-weight: bold;
    transition: color 0.3s;
}

.nav-link:hover {
    transform: scale(1.05);
}

.selected {
    color: var(--accent);
    transition: 0.2s;
}

.special-background {
    background-color: var(--white);
    color: black;
    padding: 10px;
    border-radius: 20px;
}

.pulseAnimation {
    opacity: 1;
    animation-name: pulseAni;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    transition: 0.2s;
}

@keyframes pulseAni {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}

.white {
    color: var(--white);
}

.black {
    color: var(--black);
}

.white-bg {
    background-color: var(--white);
}

.black-bg {
    background-color: var(--black);
}

.footer {
    text-align: center;
    background-color: var(--accent);
    color: var(--black);
    font-size: 14px;
    padding: 10px;
    width: 30%;
    border-radius: 20px;
    margin: auto;
    transition: 0.2s;
}

.footer:hover {
    font-size: 16px;
    color: var(--white);
    background-color: var(--black);
    transition: 0.2s;
}

.search-bar {
    align-items: center;
    text-align: center;
    display: table;
    margin: 0 auto;
    transition: 0.2s;
}

.search-bar:hover {
    transform: scale(1.05);
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--black);
}

::placeholder {
    color: var(--white);
    opacity: 0.85;
}

.box-shadow {
    box-shadow: 10px 10px 5px #aaaaaa;
}

input,
select {
    padding: 10px;
    font-weight: bold;
    border-bottom: 1px solid var(--white);
    border-top-left-radius: 20px;
    background-color: var(--black);
    color: var(--white);
    margin-top: 5px;
    transition: border, color 0.3s;
    transition: 0.3s;
}

input:hover,
select:hover {
    border-bottom-left-radius: 20px;

}

input:focus,
select:focus {
    border-bottom-left-radius: 20px;
    border-color: var(--accent);
}

/* removes the up and down arrows from the numebr input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.item-container {
    width: 80%;
    margin: auto auto 10px auto;
    padding: 50px;
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 140px;
    margin: 10px;
}

.img-style {
    width: 100px;
    height: 100px;
    display: block;

    object-fit: cover;
    transition: 0.1s;
}

.img-style:hover {
    transform: scale(1.07);
}

.img-desc {
    display: block;
    color: var(--white);
}

.cat-header {
    padding: 10px;
    width: 50%;
    border-radius: 20px;
    margin: auto auto 30px auto;
    text-align: center;
    font-size: 1.2rem;
}

i {
    color: var(--accent);
}

.general_background {
    background-color: var(--black);
    padding: 15px;
    color: var(--white);
    border-radius: 20px;
    margin: 10px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#emmanuel {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid var(--white);
    transition: 0.2s;

    object-fit: cover;
    object-position: center;
}

#emmanuel:hover {
    transform: scale(1.05);
}

#emmanuel-container {
    text-align: center;
    margin-top: 20px;
    color: var(--black);
}

.fadeIn {
    animation: fadeInAni;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

@keyframes fadeInAni {
    from {
        opacity: 0;
        transform: translate(0, -15px);
    }

    to {
        opacity: 1;
    }
}

#founder-name {
    margin-top: 10px;
}

#founder-text {
    color: var(--accent);
    margin-top: 5px;
    font-weight: bold;
}

.footer-icons-support {
    color: var(--black);
    margin: 10px;
    transition: 0.2s;
}

.footer-icons-support:hover {
    background-image: linear-gradient(45deg, yellow, #af4261);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.2);
}

.footer {
    text-align: center;
    background-color: var(--accent);
    color: var(--black);
    font-size: 14px;
    padding: 10px;
    width: 30%;
    border-radius: 20px;
    margin: auto;
    transition: 0.2s;
}

.footer:hover {
    font-size: 16px;
    color: var(--white);
    background-color: var(--black);
    transition: 0.2s;
}

/* Desktop */
@media only screen and (min-width: 768px) {
    .logo-container {
        width: auto;
        align-items: center;
        text-align: center;
    }

    #self_info {
        width: 70%;
        margin: auto;
        border-radius: 10px;
    }
}