#soundfocus {
  text-align: center;
}

#sound-recommend {
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(auto-fill, var(--sound-width));
  max-width: 55rem;
  gap: 2rem;
  margin: auto;
}

input[type="range"] {
  position: relative;
  appearance: none;
  width: 15rem;
  height: 0.4rem;
  background-color: #aaa;
  border-radius: 0.2rem;
  z-index: 1;
}

input[type="range"]::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: var(--slider-width);
  height: 100%;
  background-color: red;
  border-radius: 0.2rem;
  z-index: -1;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 1.7rem;
  height: 1.7rem;
  background-color: #222;
  border: 0.5rem solid #ddd;
  cursor: pointer;
  border-radius: 50%;
}

#button-sound {
  font-size: 20rem;
  height: 404px;
}

#button-sound i {
  background-size: cover;
  background-position: center;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  cursor: pointer;
}

.back-button {
  font-size: 3rem;
}

#sound-record {
  display: block;
  margin: 2rem auto;
}
